<div class="container-fluid">
  <% if @deal %>
    <div class="row">
      <h1 class="main-heading panel-heading">DEAL OF THE DAY!</h1>
    </div>
    <div class="container">
      <table class="table">
        <thead>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Discounted Price</th>
          <th>Quantity</th>
          <th>Publish Date</th>
          <th>Publishable</th>
          <th>Live</th>
        </thead>
        <tbody>
          <tr>
            <td><%= @deal.title %></td>
            <td><%= @deal.description %></td>
            <td><%= @deal.price %></td>
            <td><%= @deal.discounted_price %></td>
            <td><%= @deal.quantity %></td>
            <td><%= @deal.publish_date %></td>
            <td><%= @deal.publishable %></td>
            <td><%= @deal.live %></td>
          </tr>
        </tbody>
      </table>
      <% if current_user.is_a? User %>
        <% if current_user.orders_count > 0 %>
          <h3>
            <div class="label label-info">You have an additional <%= current_user.orders_count %>% discount!</div>
          </h3>
          <h4>
            New Sale Price: <%= @deal.discounted_price - @deal.discounted_price * current_user.orders_count / 100 %>
          </h4>
        <% end -%>
        <%= link_to 'BUY', orders_path(deal_id: @deal.id), method: :post, class: 'btn btn-success'  %>
      </div>
      <% end -%>
    <% end -%>
</div>
